*{
    margin: 0%;
    padding: 0%;
}
#navigation{
  background-color: rgb(9, 96, 102);
    //background: linear-gradient(rgb(5, 31, 41),rgb(58, 13, 13));
   background-image: url("MSCIT.jpg");
    //height: 60px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    position: fixed;
    width: 100%;
    z-index: 9999;
} 

.name{
   //background-color: rgb(15, 102, 124);
    display:flex;
     //flex-direction: row;
 //   justify-content:space-around;
}
.name h1{
    color: rgb(241, 230, 230);
    font-size: 40px;
    font-weight: 100px;
    font-family:Arial, Helvetica, sans-serif;
}
#nevigation .nav{
    display: flex; 
}
.nav img{
    height: 70px;
}
#menu-close{
    display: none;
    width: 30px;
    height: 30px;
}
#menu-btn{
    display: none;
    width: 30px;
    height: 30px;
}
.nav ul {
        list-style-type: none; 
        border: none;
        margin-top: 10px;
    }
 .nav ul li{
        display: inline;
        padding: 10px;
 }
li a{
    text-decoration: none;
    font-size: 22px;
    color: rgb(233, 230, 84);
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*.name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}*/
ul li a:hover{
    color:rgb(220, 231, 227);
}

/* home*/

#home{  
   width: 100%;
   height: 100vh;
   background: #e8e9e3;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.swiper{
    margin-top: 100px;
    width: 80%;
    height: 500px;
    box-shadow: 3px 3px 16px rgba(0, 3, 2, 0.233);
    overflow: hidden;
    background-image: url(https://www.devjobsscanner.com/assets/blog/most-demanded-languages/top-8-most-demanded-languages-in-2023.webp);
}
.swiper img{
    width: 100%;
    height: 100%;   
}
#home h2{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px; 
    line-height: 70px;
    padding-bottom: 10px;
}
#home p{
    font-size: 16px;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
   line-height: 35px;
}
#home a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 13px 35px;
    background-color: rgb(219, 229, 238);
    font-weight: 600;
    border-radius: 5px;
    
}
#home .btn{
    margin-top: 30px;
}
#home a.green{
    background: rgb(13, 97, 20);
    color: aliceblue;
}
#home a.yellow{
    background:rgb(219, 217, 78);
    color: black;
}
#home a.green:hover{
    color:rgb(14, 15, 14);
    background: rgb(241, 145, 36);
}
#home a.yellow:hover{
    background: rgb(96,255,165);
}
/*features*/
#features{
    margin-top: 15px;
    padding: 1vw 8vw 0 8vw;
    text-align: center;
    background-color: rgb(199, 230, 168);
    padding-bottom: 10px;
}
#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 20px;
   
}
#features h1{
    font-size: 1.5rem;
    color: rgb(8, 85, 72);
    font-weight: 600;
    padding: 13px 0 7px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#features .fea-box{
   // background: rgb(235, 238, 224);
    text-align: start;
 }
#features .fea-box .material-symbols-outlined
{
    font-size: 50px;
    color: darkslategrey;
}
#features .fea-box h3{
    font-size: 1.5rem;
    color: rgb(8, 85, 72);
    font-weight: 600;
    padding: 13px 0 7px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#features .fea-box p{
    font-size: 1.4rem;
    color: rgb(110, 20, 106);
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}
/*courses*/
#courses{
    padding: 1vw 8vw 0 8vw;
    text-align: center;
    margin-top: 20px;
}
#courses .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
    grid-gap: 3rem;
    margin-top: 50px;
}
#courses h1{
    font-size: 30px;
    
}
#courses a{
    text-decoration: none;
    color: black;
}

#courses .course{
    text-align: start;
    background: rgb(191, 217, 238);
    height: 100%;
    position: relative;
}
#courses .course img{
    width: 100%;
    height: 70%;    
    background-size: cover;
    background-position: center;
}
#courses .course .details{
   //padding: 15px 15px 2 15px;
}   
#courses .course .details h6{
    font-size: 1.4rem;
    padding: 10px;   
}
#courses .course .details .material-symbols-outlined{
    color: rgb(214, 121, 7);
    font-size: 1.3rem;
    padding: 3px;   
}
#courses .course .cost{
    background-color:rgb(14, 3, 44);
    color: aliceblue;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 50px;
}
/*registration*/
#registration{
    background-image: linear-gradient(rgba(99,112,168,0.5),rgba(81,91,233,0.5)),url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-blue-minimalist-technology-computer-banner-image_188887.jpg");
    background-size: cover;
    //height: 250px;
   // width: 100;
    margin-top: 90px;
   padding: 6vw 8vw 6vw 8vw;
   background-position: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
  //flex-wrap:wrap;
}
#registration .registration-info{
    color:rgb(234, 235, 222);
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 600px;
}

#registration .form {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 8px 32px 0 rgba(31,38, 135, 0.37);
}
#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 48,241);
    outline: none;
}
#registration .btn{
    background-color: rgb(56, 102, 10);
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    cursor: pointer;
}
#registration .btn:hover{
    background-color: #077377;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#registration .form input::placeholder{
    color: rgb(6, 63, 80);
    font-weight: 600;
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace';
}
#registration .btn a{
    color: #fff;
    text-decoration: none;
   font-family: fantasy;
}


#registration a{
    color: rgb(151, 18, 111);
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    padding-top: 10px;
}
/* community expert*/
#expert{
   margin: 10px;
   padding: 4vw 8vw 0 8vw;
}
#expert h1{
    color: rgb(2, 32, 32);
    text-align: center;
    font-size: 30px;
}

#expert p{
    color: rgb(6, 112, 112);
    text-align: center;
    font-size: 22px; 
}
#expert h6{
    font-size: 20px;
    text-align: center;
}
#expert img{
    background-size: cover;
    background-position: center;
    height: 70%;
    width: 100%;
    text-align: center;
   }
#expert .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 1rem;
  margin-top: 20px;
}
#expert .profile{
    background-color: rgb(185, 206, 224);
    padding: 30px 10px ;
}
#expert .pro-links{
    text-align: center;
    font-size: 1.2rem;
    color: black;
    margin-top: 10px;
}
#expert .pro-links i{
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}
#expert .pro-links i:hover{
    background: rgb(110, 20, 106);
    color: #fff;
    border: 1px solid rgb(14, 15, 14);
    cursor: pointer;
    font-weight: bolder;
}
/*footer*/
footer{
    padding: 8vw;
    background-color: rgb(4, 1, 8);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-class{
    padding-bottom: 40px;
}
footer h3{
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer li{
    list-style: none;
    color: rgb(104, 87, 62);
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer li:hover{
    color: rgb(212, 133, 37);
}
footer p{
    color: rgb(147, 180, 169);
}
footer .subscribe{
    margin-top: 20px;
}
footer input{
    width: 220px;
    padding: 15px 12px;
    background: #064e64;
    border: none;
    outline: none;
    color: #fff;
}
footer .subscribe a{
    text-decoration: none;
    font-size: 1rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 606;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 7px;
}
footer .subscribe a.green{
    color: #ebf5ea;
    background: #515e0b;
    transition: 0.3s ease;
}
footer .subscribe a.green:hover{
    color: rgb(14, 15, 14);
    background: #ebf5ea;
}
/*mscit page*/
#syllabus{
    //padding: 1vw 8vw 0 8vw;
    text-align: center;
    margin-top: 50px; 
   }
   #syllabus-image{
    background-color: rgb(238, 214, 222);
    height: 500px;
   }
   #syllabus-image img{
    height: 500px;
    padding-left: 200px;  
   }
   #syllabus h1{
        color: rgb(221, 210, 192);
        font-size: 30px;
        background-color: #0c3349;
        width: 100%;
        border: 1px solid rgba(197, 16, 92, 0.678);
   }
   #syllabus img{
    background-position: center;
    margin-top: 80px;
    width: 80%;
    padding-left: 130px;  
   }
   #syllabus .name img{
    height: 500px;
   }
@media (max-width: 769px) {
   .nav{
        padding: 15px 20px;
        color: chartreuse;
    }
    .nav img{
        width: 130px;
    }
    #menu-btn{
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #e8e9e3;
        padding: 30px 0 20px 20px;
    }
    .nav ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(12, 9, 9, 0.767);
        backdrop-filter: blur(.5px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .nav ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;  
    }
    .nav ul.active{
        right: 0;
    }
    #navigation .nav ul li a{
        color: #e4d1e1;
    }
}